@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', Sans-Serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cover-image {
  z-index: 10;
  background: white;
  padding: 3px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition-property: opacity, transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

#cover-image.hide {
  transform: translateY(20px);
  opacity: 0;
}

#cover-image img {
  max-height: 80vh;
  border-radius: 5px;
  display: block;
}

#canvas {
  position: absolute;
  z-index: 0;
  transition: opacity 0.4s ease-in-out;
}

#canvas.hide {
  opacity: 0;
}

#info {
  position: absolute;
  z-index: 5;
  bottom: 10vh;
  right: 5vh;
  opacity: 0.5;
  text-align: right;
  transition-property: opacity, transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

#info.hide {
  transform: translateY(20px);
  opacity: 0;
}

#info .issue {
  font-weight: 300;
  margin: 0;
  font-size: 3rem;
  opacity: 0.5;
}

#info .title {
  margin: 0.2rem 0 0 0;
}

#info .publisher {
  margin: 0.5rem 0 0 0;
}
